<%- include('includes/header') %>
<!-- header included end -->  
  
  <%- include('includes/flash')%>

  <!-- First raw section :: Profile, Map begin  -->
  <!-- First raw section :: Profile, Map begin  -->
 <div id="container">
  <div class="card" id="profile_widget">
    <div class="card-body">
      <a href="/profile/<%= user.username %>" class="mr-2">
        <img
        id="profile_img"
        class="card-img-top avatar-large" 
        title="<%= user.username %>" 
        data-toggle="tooltip" 
        data-placement="bottom" 
        style=" border-radius: 50px;" 
        src="<%= user.avatar %>"></a>

        <div class="profile--widget--bottom">
          <a href="/profile/<%= user.username %>"><h5 id="name" class="" style="z-index: 10;"><%= user.username %></h5></a>
          <span class="text-white mr-2 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment" style="color: black"></i></span>
        </div>
  
     <div class="profile--widget--bottom">
      <!-- Gravatar API SRC= -->
      <a class="btn btn-sm btn-success mr-2" href="/create-post">Create Post</a>
      <!-- Session logout ACTION=/LOGOUT -->
      <form action="/logout" method="POST" class="d-inline">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-sm btn-secondary">Sign Out</button>
      </form>
    </div>  
  </div>
 </div>

  <div id="maps_widget">
    <div id="map"></div>
  </div>

  <div id="calendar_widget" class="card">
    <div class="card-body">
      <h5 class="card-title">Maria H.</h5>
    </div>
  </div>

</div>
  <!-- First raw section :: Profile, Map END  -->
  <!-- First raw section :: Profile, Map END  -->


<div id="container2">
  <div id="widget4" class="card">
    <img src="images/calendar.png" id="" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 id="name" class="card-title"></h5>
    </div>
  </div>


  <div id="widget5" class="card">
   
  <!-- forum section -->
  <%- include('./forum') %>
  <!-- forum section -->

  </div>

  <div id="widget6" class="card">
    <img
      src="images/glasgow.jpg"
      id="attraction"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Kelvin Grove Art Gallery</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<!-- 
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      emergency contact detail
    </h5>

  </div>
</div> -->

  
  <!-- footer begins -->
  <%- include('includes/footer') %>