<%- include('includes/header') %>
<!-- header included end -->  
  
  <%- include('includes/flash')%>

  <section class="gridcontainer">

    <div>
      <img class="menu_icon item" src="/images/menu_icon.png">
    </div>

    <div class="profile_widget item1">
      <div class="profile--widget">
          <a href="/profile/<%= user.username %>" class="mr-2">
              <img
              class="avatar-large" 
              title="<%= user.username %>" 
              data-toggle="tooltip" 
              data-placement="bottom" 
              style=" border-radius: 50px;" 
              src="<%= user.avatar %>"></a>
            
              <div class="flex--box d-flex justify-content-center">
                <a href="/profile/<%= user.username %>" id="name" class="mr-2 text-center" style="z-index: 10; font-size: 1.4rem;"><%= user.username %></a>
                <span class="header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment" style="font-size: .9rem; color: black;"></i></span>  
              </div>
              </div>
    </div>

    <div id="map" class="maps_widget item2"></div>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwaZh4LZ9pza24U9ewbCdiLvIh27etaCI&callback=initMap">
    </script>

    <div class="weather_widget item3">
      <!-- <div class="app-title"> -->
      <div class="location">
        <p>-</p>
      </div>
      <!-- </div> -->
      <div class="notification"> </div>
      <div class="weather-container">
        <div class="weather-icon">
          <img src="weather/icons/unknown.png" alt="">
        </div>
        <div class="temperature-value">
          <p>- °<span>C</span></p>
        </div>
        <div class="temperature-description">
          <p> - </p>
        </div>
      </div>
    </div>

    <script defer src="weather/app.js"></script>


    <div class="calendar_widget item4"> Calendar </div>

    <div class="emercency_services_widget item5"> Emercency Services </div>

    <div class="forum_widget item6">
      <%- include('./forum') %>
      </div>

    <div class="attractions_widget item7"> Attracrions </div>
  </section>


  <!-- footer begins -->
  <%- include('includes/footer') %>