<%- include('includes/header') %>
<!-- header included end -->  
  
  <%- include('includes/flash')%>

 <div id="container">
  <div id="profile_widget" class="card">
    <div class="card-body">
      <a href="/profile/<%= user.username %>" class="mr-2">
        <img
        id="profile_img"
        class="card-img-top avatar-large" 
        title="<%= user.username %>" 
        data-toggle="tooltip" 
        data-placement="bottom" 
        style=" border-radius: 50px;" 
        src="<%= user.avatar %>"></a>

      <a href="/profile/<%= user.username %>"> 
     <h5 id="name" class="card-title" style="z-index: 10;"><%= user.username %></h5></a>
    </div>
  </div>

  <div id="maps_widget" class="card">
    <div id="map"></div>
  </div>

  <div id="calendar_widget" class="card">
    <div class="card-body">
      <h5 class="card-title">Maria H.</h5>
    </div>
  </div>
</div>
<!-- <div id="calendar_widget" class="card">
    <div class="card-body">
        <h5 class="card-title">Maria H.</h5>
    </div>
</div> -->

<div id="container2">
  <div id="widget4" class="card">
    <img src="images/calendar.png" id="" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 id="name" class="card-title"></h5>
    </div>
  </div>

  <div id="widget5" class="card">
   
  <!-- forum section -->
  <%- include('./forum') %>
  <!-- forum section -->

  </div>

  <div id="widget6" class="card">
    <img
      src="images/glasgow.jpg"
      id="attraction"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Kelvin Grove Art Gallery</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div id="widget7" class="card">
  <div class="card-body">
    <h5 class="card-title"></h5>

  </div>
</div>

  
  <!-- footer begins -->
  <%- include('includes/footer') %>